<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="Código para Principiantes">
    <title>Blog Week</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    {% load static %}

    <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'core/css/blog.css' %}" rel="stylesheet">
</head>
<body>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="{% url 'home' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img class="bi me-2" width="40" height="32" src="{% static 'core/img/bootstrap-logo.svg' %}">
        <span class="fs-4">Blog Week</span>
      </a>
    </header>

    <main class="mt-2">
      <section class="row g-5">
        <!-- TODOS LOS POSTS -->
        <div class="col-md-8">
            {% block content %} {% endblock %}
        </div>

        <!-- ASIDE -->
        <aside class="col-md-4">
          <div class="position-sticky" style="top: 2rem;">
            <div class="p-4">
              <h4 class="fst-italic">Categorías</h4>
              <ol class="list-unstyled mb-0">
                {% for item in categories %}
                  <li><a href="{% url 'category' %}"?cat={{ item.id }}>{{ item.name }}</a></li>
                {% endfor %}
              </ol>
            </div>

            <div class="p-4">
              <h4 class="fst-italic">Archivos</h4>
              <ol class="list-unstyled mb-0">
                {% for item in dates %}
                  <li>
                    {% if item.month == 1 %}<a href="{% url 'dates' item.month item.year %}">Enero de {{ item.year }}</a>{% endif %}
                    {% if item.month == 2 %}<a href="{% url 'dates' item.month item.year %}">Febrero de {{ item.year }}</a>{% endif %}
                    {% if item.month == 3 %}<a href="{% url 'dates' item.month item.year %}">Marzo de {{ item.year }}</a>{% endif %}
                    {% if item.month == 4 %}<a href="{% url 'dates' item.month item.year %}">Abril de {{ item.year }}</a>{% endif %}
                    {% if item.month == 5 %}<a href="{% url 'dates' item.month item.year %}">Mayo de {{ item.year }}</a>{% endif %}
                    {% if item.month == 6 %}<a href="{% url 'dates' item.month item.year %}">Junio de {{ item.year }}</a>{% endif %}
                    {% if item.month == 7 %}<a href="{% url 'dates' item.month item.year %}">Julio de {{ item.year }}</a>{% endif %}
                    {% if item.month == 8 %}<a href="{% url 'dates' item.month item.year %}">Agosto de {{ item.year }}</a>{% endif %}
                    {% if item.month == 9 %}<a href="{% url 'dates' item.month item.year %}">Septiembre de {{ item.year }}</a>{% endif %}
                    {% if item.month == 10 %}<a href="{% url 'dates' item.month item.year %}">Octubre de {{ item.year }}</a>{% endif %}
                    {% if item.month == 11 %}<a href="{% url 'dates' item.month item.year %}">Noviembre de {{ item.year }}</a>{% endif %}
                    {% if item.month == 12 %}<a href="{% url 'dates' item.month item.year %}">Diciembre de {{ item.year }}</a>{% endif %}
                  </li>
                {% endfor %}
              </ol>
            </div>

            <div class="p-4">
              <h4 class="fst-italic">Nuestras redes</h4>
              <ol class="list-unstyled">

                {% if LINK_GITHUB.url %}
                  <li><a href="{{ LINK_GITHUB.url }}"><i class="{{ LINK_GITHUB.icon }}"></i> GitHub</a></li>
                {% endif %}

                {% if LINK_TWITTER.url %}
                  <li><a href="{{ LINK_TWITTER.url }}"><i class="{{ LINK_TWITTER.icon }}"></i> Twitter</a></li>
                {% endif %}

                {% if LINK_DISCORD.url %}
                  <li><a href="{{ LINK_DISCORD.url }}"><i class="{{ LINK_DISCORD.icon }}"></i> Discord</a></li>
                {% endif %}

                {% if LINK_SLACK.url %}
                  <li><a href="{{ LINK_SLACK.url }}"><i class="{{ LINK_SLACK.icon }}"></i> Slack</a></li>
                {% endif %}

                {% if LINK_FACEBOOK.url %}
                  <li><a href="{{ LINK_FACEBOOK.url }}"><i class="{{ LINK_FACEBOOK.icon }}"></i> Facebook</a></li>
                {% endif %}

              </ol>
            </div>

            <div class="p-4 mb-3 bg-light rounded">
              <a href="{% url 'about' %}">Acerca de Nosotros</a>
            </div>

          </div>
        </aside>
      </section>
    </main>

    <footer class="blog-footer">
      <p>Código para Principiantes <a href="https://www.youtube.com/channel/UCojloc55DB6zD6zB7-kTWWQ">YouTube</a> por <a href="https://twitter.com/ominaca">@ominaca</a></p>
      <p>
        <a href="#">Ir arriba</a>
      </p>
    </footer>
  </div>
</body>
</html>

